.super_bg {
    background-image: url('assets/bg.jpg');

}

.jumbotron-custom-landing {
    background:rgba(255,255,255,0.7);
}

.btn-buff {
    padding: 5px;
}

.paddypad {
    padding: 50px;
}

#header-font {
    font-family: 'Lato', sans-serif;
}


.jumbotron.start-page{
    position: absolute;
    width: 750px;
    height: 500px;
    top: 100px;
    left: 20%;
}
.jumbotron.pages{
    position: absolute;
    /*width: 750px;*/
    /*height: 500px;*/
    /*top: 100px;*/
    /*left: 150%;*/
}